.dash-container {
    margin: 2rem;
}


.dashboard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dash-container h2 {
    font-size: 2.5rem;
}

.options {
    display: flex;
    flex-direction: column;
}
.options form {
    display: flex;
    flex-direction: column;
}
.options button {
    font-size: 1.5rem;
}
.options small {
    font-size: 0.8rem;
    color: #898989;
    margin: 0 0.5rem 1.5rem;
}

.quick-view {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}


.quick-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product-card {
    background: var(--color-card);
    color: #111;
    padding: 1.5rem;
    border-radius: 10px;
    width: 100%;
}

.product-card h3 {
    font-size: 1rem;
    ;
}

@media (min-width: 768px) {

    .dashboard {
        margin: 1rem;
        flex-direction: row;
        justify-content: space-around;

    }

    .options {
        margin-top: 3rem;
        width: 250px;

    }

    .quick-view {
        flex: 0 0 50%;
    }

    .quick-products {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .product-card {
        width: 200px;
        height: 200px;
    }
}